
html, body {
    background-color: #fff;
    color: #05341f;
    font-family: 'IM Fell French Canon', serif;
    font-weight: 100;
    background-image: url("/images/backgrounddark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.full-height {
    padding-top: 8em;
    min-height: 85vh;
}

#clock{
  margin-top:0.5em;
}

#screen-top{
  background-image: url("/images/row1-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#story{
  background-image: url("/images/row2-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 91vh;
}

#story_chapter1{
  background-image: url("/images/rowstory1-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 91vh;
}

#story_chapter2{
  background-image: url("/images/rowstory2-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 91vh;
}

#story_chapter3{
  background-image: url("/images/rowstory3-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 91vh;
}

#groom{
  background-image: url("/images/row3-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#flow{
  background-image: url("/images/row5-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#venue{
  background-image: url("/images/row4-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#rsvp{
  background-image: url("/images/row6-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#wishes{
  background-image: url("/images/row7-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 100vh;
}

a, a:hover {
  color: #75a941;
}

.title{
  margin-top: 0.5em;
  font-family: 'Italianno', cursive;
  font-size: 70px;
}

.name-title{
  margin-top: 0.5em;
}

.header{
  margin-top: 2em;
}
.header-text{
  margin-top: 5px;
}

.hamburger{
  display: none;
}

.cross{
  display: none;
}

.menu{
  display: none;
}

.main-title{
  font-family: 'Italianno', cursive;
  font-size: 90px;
  margin-right: 10px;
}

.all-links{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #75a941;
  border-bottom: 1px solid #75a941;
  background-image: url("/images/backgrounddark.png");
}

.links{
  margin-right: 5em;
  color: #75a941;
}

.bridegroom-ipad{
  display: none;
}

.border-recommended{
  border-right: 1px solid #75a941;
}

.side-border{
  border-left: 1px solid #75a941;
  border-right: 1px solid #75a941;
}

.row-your-boat{
  background:whitesmoke;
}

@media only screen and (max-width: 1024px) {
  body{
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  .all-links{
    padding-left: 3em;
    font-size: 14px;
  }

  .links{
    margin-right: 3em;
  }

  #bridegroom-main{
    display: none;
  }

  .bridegroom-ipad{
    display: flex;
  }

  .recommendation-title{
    font-size: 30px;
  }

  #transports{
    padding-right: 15px;
  }

  #cuisines{
    padding-right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  #bridegroom-main{
    display: flex;
  }

  .bridegroom-ipad{
    display: none;
  }

  .full_story_link1{
    display: none;
  }

  .middle-gap{
    background-color: whitesmoke;
    margin-bottom: 15px;
    padding-top: 1em;
  }

  .side-border{
    border-right: 0;
    border-left: 0;
  }

  .row-your-boat{
    background:transparent;
  }

  body{
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  .title{
    font-size: 50px;
  }

  .hamburger{
    display: inline;
  }

  .menu ul {
    list-style-type: none;
    list-style-image: none;
    -webkit-padding-start: 0px;
  }

  .full-height {
    padding-top: 0.5em;
    min-height: 100vh;
  }

  .header{
    margin-top: 5em;
  }

  .all-links{
    display: none;
  }

  .menu{
    display: none;
  }

  #clock{
    padding-top: 1em;
    font-size: 20px;
  }

  .main-title{
    font-family: 'Italianno', cursive;
    font-size: 50px;
    margin-top: 0.5em;
  }

  .name-title{
    margin-top: 0.5em;
    height: 40px;
  }

  .border-recommended{
    border-right: 0;
  }

  .recommendation-title{
    font-size: 22px;
  }
}

.venue{
  margin-top: 2em;
}

.notification{
  position: absolute;
  z-index:90;
  /*margin-top: 2em;*/
  bottom: 10px;
  right:10px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  background-color:#05341f;
  border: 1px solid #05341f;
}

.intro_story{
  margin-top: 4em;
}

.story1{
  margin-top: 3em;
}

.story2{
  margin-top: 3em;
}

.story3{
  margin-top: 2em;
}

#story_chapter1{
  display: none;
}

#story_chapter2{
  padding-top: 5.5em;
  display: none;
}

#story_chapter3{
  padding-top: 5.5em;
  display: none;
}
